In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('/media/prince/5A4E832F4E83034D/TItanic Project/v2data.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Survived     891 non-null    float64
 1   Pclass       891 non-null    float64
 2   Sex          891 non-null    object
 3   Age          891 non-null    float64
 4   Fare         891 non-null    float64
 5   Embarked     891 non-null    object
 6   Family_size  891 non-null    float64
dtypes: float64(5), object(2)
memory usage: 48.9+ KB